<a href="https://colab.research.google.com/github/1299khushi/Nunam-Task/blob/main/NUNAM_TASK1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:




import pandas as pd                               #pandas provide easy data manipulation


det=[]                                             #creating 3 lists for storing all sheets in 3 major category
vol=[]
tem=[]



for i in range(20):                                   # 20 sheets in data.xlsx
                                                  
  u=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/data.xlsx", index_col=0, sheet_name=i)   

                                                         # using dataframe u to fetch sheets and store it our lists      

  if(i>2 and i<10):                                       #the sheets from 3 to 9 will go in det list
    det.append(u)
  if(i>9 and i<17):                                       #the sheets from 11 to 16 will go in det list
    vol.append(u)
  if(i>16):                                               #the sheets from 17 to 20 will go in det list
    tem.append(u)                                          

for i in range(4):                                        #some sheets of temp were in second xlsx, loading them in tem
  u=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/data_1.xlsx", index_col=0, sheet_name=i)
  tem.append(u)                                                    




# for i in range(0,len(det):                    #this code can be used to check data
#   print('-'*100)
#   print(i)
#   print('-'*100)
#   print(det[i])


df_det=pd.concat(det)                             #all sheets in  respective list are combined to form their dataframe
df_vol=pd.concat(vol)
df_tem=pd.concat(tem)



                         #dataframe exported as csv file (which will be created next to code and data, in same folder), with designated names


df_det.to_csv("/content/drive/MyDrive/Colab Notebooks/detail.csv")      
df_vol.to_csv("/content/drive/MyDrive/Colab Notebooks/detailVol.csv")   
df_tem.to_csv("/content/drive/MyDrive/Colab Notebooks/detailTemp.csv")

In [ ]:

for i in range(0,len(det)):                    #this code can be used to check data
  print('-'*100)
  print(i)
  print('-'*100)
  print(det[i])

----------------------------------------------------------------------------------------------------
0
----------------------------------------------------------------------------------------------------
                 Status  JumpTo  ...  Relative Time(h:min:s.ms)       Absolute Time
Record Index                     ...
1                  Rest       1  ...                0:00:00.000 2020-10-10 20:03:39
2                  Rest       1  ...                0:00:01.000 2020-10-10 20:03:40
3                  Rest       1  ...                0:00:02.000 2020-10-10 20:03:41
4                  Rest       1  ...                0:00:03.000 2020-10-10 20:03:42
5                  Rest       1  ...                0:00:04.000 2020-10-10 20:03:43
...                 ...     ...  ...                        ...                 ...
65531         CCCV_DChg      19  ...                1:44:03.000 2020-10-11 14:15:30
65532         CCCV_DChg      19  ...                1:44:04.000 2020-10-11 14:15:31
65533         CCCV_DChg      19  ...                1:44:05.000 2020-10-11 14:15:32
65534         CCCV_DChg      19  ...                1:44:06.000 2020-10-11 14:15:33
65535         CCCV_DChg      19  ...                1:44:07.000 2020-10-11 14:15:34

[65535 rows x 10 columns]
----------------------------------------------------------------------------------------------------
1
----------------------------------------------------------------------------------------------------
                 Status  JumpTo  ...  Relative Time(h:min:s.ms)       Absolute Time
Record Index                     ...
65536         CCCV_DChg      19  ...                1:44:08.000 2020-10-11 14:15:35
65537         CCCV_DChg      19  ...                1:44:09.000 2020-10-11 14:15:36
65538         CCCV_DChg      19  ...                1:44:10.000 2020-10-11 14:15:37
65539         CCCV_DChg      19  ...                1:44:11.000 2020-10-11 14:15:38
65540         CCCV_DChg      19  ...                1:44:12.000 2020-10-11 14:15:39
...                 ...     ...  ...                        ...                 ...
131066        CCCV_DChg      34  ...                0:53:17.000 2020-10-12 08:27:28
131067        CCCV_DChg      34  ...                0:53:18.000 2020-10-12 08:27:29
131068        CCCV_DChg      34  ...                0:53:19.000 2020-10-12 08:27:30
131069        CCCV_DChg      34  ...                0:53:20.000 2020-10-12 08:27:31
131070        CCCV_DChg      34  ...                0:53:21.000 2020-10-12 08:27:32

[65535 rows x 10 columns]
----------------------------------------------------------------------------------------------------
2
----------------------------------------------------------------------------------------------------
                 Status  JumpTo  ...  Relative Time(h:min:s.ms)       Absolute Time
Record Index                     ...
131071        CCCV_DChg      34  ...                0:53:22.000 2020-10-12 08:27:33
131072        CCCV_DChg      34  ...                0:53:23.000 2020-10-12 08:27:34
131073        CCCV_DChg      34  ...                0:53:24.000 2020-10-12 08:27:35
131074        CCCV_DChg      34  ...                0:53:25.000 2020-10-12 08:27:36
131075        CCCV_DChg      34  ...                0:53:26.000 2020-10-12 08:27:37
...                 ...     ...  ...                        ...                 ...
196601        CCCV_DChg      49  ...                0:04:05.000 2020-10-13 02:39:27
196602        CCCV_DChg      49  ...                0:04:06.000 2020-10-13 02:39:28
196603        CCCV_DChg      49  ...                0:04:07.000 2020-10-13 02:39:29
196604        CCCV_DChg      49  ...                0:04:08.000 2020-10-13 02:39:30
196605        CCCV_DChg      49  ...                0:04:09.000 2020-10-13 02:39:31

[65535 rows x 10 columns]
----------------------------------------------------------------------------------------------------
3
----------------------------------------------------------------------------------------------------
                 Status  JumpTo  ...  Relative Time(h:min:s.ms)       Absolute Time
Record Index                     ...
196606        CCCV_DChg      49  ...                0:04:10.000 2020-10-13 02:39:32
196607        CCCV_DChg      49  ...                0:04:11.000 2020-10-13 02:39:33
196608        CCCV_DChg      49  ...                0:04:12.000 2020-10-13 02:39:34
196609        CCCV_DChg      49  ...                0:04:13.000 2020-10-13 02:39:35
196610        CCCV_DChg      49  ...                0:04:14.000 2020-10-13 02:39:36
...                 ...     ...  ...                        ...                 ...
262136         CCCV_Chg      62  ...                2:41:26.000 2020-10-13 20:51:29
262137         CCCV_Chg      62  ...                2:41:27.000 2020-10-13 20:51:30
262138         CCCV_Chg      62  ...                2:41:28.000 2020-10-13 20:51:31
262139         CCCV_Chg      62  ...                2:41:29.000 2020-10-13 20:51:32
262140         CCCV_Chg      62  ...                2:41:30.000 2020-10-13 20:51:33

[65535 rows x 10 columns]
----------------------------------------------------------------------------------------------------
4
----------------------------------------------------------------------------------------------------
                Status  JumpTo  ...  Relative Time(h:min:s.ms)       Absolute Time
Record Index                    ...
262141        CCCV_Chg      62  ...                2:41:31.000 2020-10-13 20:51:34
262142        CCCV_Chg      62  ...                2:41:32.000 2020-10-13 20:51:35
262143        CCCV_Chg      62  ...                2:41:33.000 2020-10-13 20:51:36
262144        CCCV_Chg      62  ...                2:41:34.000 2020-10-13 20:51:37
262145        CCCV_Chg      62  ...                2:41:35.000 2020-10-13 20:51:38
...                ...     ...  ...                        ...                 ...
369624        CCCV_Chg      87  ...                0:54:32.000 2020-10-15 02:42:31
369625        CCCV_Chg      87  ...                0:54:33.000 2020-10-15 02:42:32
369626        CCCV_Chg      87  ...                0:54:34.000 2020-10-15 02:42:33
369627        CCCV_Chg      87  ...                0:54:35.000 2020-10-15 02:42:34
369628        CCCV_Chg      87  ...                0:54:36.000 2020-10-15 02:42:35

[65535 rows x 10 columns]
----------------------------------------------------------------------------------------------------
5
----------------------------------------------------------------------------------------------------
                Status  JumpTo  ...  Relative Time(h:min:s.ms)       Absolute Time
Record Index                    ...
369629        CCCV_Chg      87  ...                0:54:37.000 2020-10-15 02:42:36
369630        CCCV_Chg      87  ...                0:54:38.000 2020-10-15 02:42:37
369631        CCCV_Chg      87  ...                0:54:39.000 2020-10-15 02:42:38
369632        CCCV_Chg      87  ...                0:54:40.000 2020-10-15 02:42:39
369633        CCCV_Chg      87  ...                0:54:41.000 2020-10-15 02:42:40
...                ...     ...  ...                        ...                 ...
435159        CCCV_Chg     102  ...                0:08:42.000 2020-10-15 20:54:31
435160        CCCV_Chg     102  ...                0:08:43.000 2020-10-15 20:54:32
435161        CCCV_Chg     102  ...                0:08:44.000 2020-10-15 20:54:33
435162        CCCV_Chg     102  ...                0:08:45.000 2020-10-15 20:54:34
435163        CCCV_Chg     102  ...                0:08:46.000 2020-10-15 20:54:35

[65535 rows x 10 columns]
----------------------------------------------------------------------------------------------------
6
----------------------------------------------------------------------------------------------------
                Status  JumpTo  ...  Relative Time(h:min:s.ms)       Absolute Time
Record Index                    ...
435164        CCCV_Chg     102  ...                0:08:47.000 2020-10-15 20:54:36
435165        CCCV_Chg     102  ...                0:08:48.000 2020-10-15 20:54:37
435166        CCCV_Chg     102  ...                0:08:49.000 2020-10-15 20:54:38
435167        CCCV_Chg     102  ...                0:08:50.000 2020-10-15 20:54:39
435168        CCCV_Chg     102  ...                0:08:51.000 2020-10-15 20:54:40
...                ...     ...  ...                        ...                 ...
458630            Rest     108  ...                0:09:56.000 2020-10-16 03:25:35
458631            Rest     108  ...                0:09:57.000 2020-10-16 03:25:36
458632            Rest     108  ...                0:09:58.000 2020-10-16 03:25:37
458633            Rest     108  ...                0:09:59.000 2020-10-16 03:25:38
458634            Rest     108  ...                0:10:00.000 2020-10-16 03:25:39

[23471 rows x 10 columns]

In [ ]:
import datetime
print(datetime.datetime.now())

2021-06-13 13:31:14.443027

In [ ]:
u=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/data_1.xlsx", index_col=0, sheet_name=3)

In [ ]:
u

          Step Name  ... Gap of Temperature
Record ID            ...
435164     CCCV_Chg  ...                  0
435165     CCCV_Chg  ...                  0
435166     CCCV_Chg  ...                  0
435167     CCCV_Chg  ...                  0
435168     CCCV_Chg  ...                  0
...             ...  ...                ...
458630         Rest  ...                  0
458631         Rest  ...                  0
458632         Rest  ...                  0
458633         Rest  ...                  0
458634         Rest  ...                  0

[23471 rows x 5 columns]

In [ ]:
i=0
l=u[("Realtime")].values
a=l[0]
p = pd.Period("2018-03-11 13:03:12.050000")
p.minute

3

In [ ]:
import datetime

# x = datetime.datetime.now()
# x-l[0]

In [ ]:
import numpy as np
from datetime import datetime 
np.datetime64(a).astype(datetime)
a.astype(datetime)

1602795276000000000

In [ ]:
type(p)

pandas._libs.tslibs.period.Period

In [ ]:
l[0].year

AttributeError: ignored

In [ ]:
p = pd.l[0]
p.minute

AttributeError: ignored